p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.foto-perfil {
    height: 50%;
    width: 20%;
    border-radius: 50%;
}

.icones {
    padding-left: 5px;
}

.titulosBrancos {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.titulosVerdes {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #18bc9c
}

.paragrafoBrancos {
    color: white !important;
}


.jumbotron {
    margin-bottom: 0px;
}

html {
    scroll-behavior: smooth;
}

p {
    color: black !important;
}

.corPrimaria {
    background-color: #18bc9c;
}

.itemMenu {
    color: white;
}

        p {
            font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        .foto-perfil {
            height: 100%;
            max-width: auto;
            border-radius: 50%;
        }

        .icones {
            padding-left: 5px;
        }

        .titulosBrancos {
            text-decoration: underline;
            text-underline-position: under;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
        }

        .titulosVerdes {
            text-decoration: underline;
            text-underline-position: under;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: #18bc9c
        }

        .paragrafoBrancos {
            color: white !important;
        }


        .jumbotron {
            margin-bottom: 0px;
        }

        html {
            scroll-behavior: smooth;
        }

        p {
            color: black !important;
        }

        .corPrimaria {
            background-color: #18bc9c;
        }

        .itemMenu {
            color: white;
        }
      
        .div-contata p {
            padding: 4px;
            color: #DEDEDE;
            width: 60%;
        }
        
        .contata h2 {
            width: 300px;
            height: 28px;
            text-align: left;
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 0px;
            color: #DEDEDE;
            padding-top: 0;
            padding-bottom: 70px;
        }
        
        label {
            color: #ffffff;
        }
        
        input {
            height: 34px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #434343;
            border-radius: 4px;
            margin-bottom: 20px;
            width: 398px;
        }
        
        textarea {
            width: 398px;
            height: 133px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #434343;
            border-radius: 4px;
            margin-bottom: 20px;
        }
         
        form {
            display:flex;
            flex-direction: column;
            width: 298px;
        }
        
        .btn-enviar {
            margin-top: -5px;
            margin-left: 0;
            width: 118px;
            height: 34px;
            background: #434343 0% 0% no-repeat padding-box;
            border-radius: 5px;
            color: #DEDEDE;
            align-items: center;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }
        